<!-- Sidebar -->


<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion sidebar-main" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'classroom:home' %}">
      <div class="sidebar-brand-icon rotate-n-15">
      </div>
      <div class="sidebar-brand-text mx-3"> FineCode   </div>
    </a>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="{% url 'classroom:home' %}">
        
        <span>Classrooms</span>
      </a>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'classroom:todo' %}" >
       
        <span>To Do</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'classroom:toreview' %}" >
        
        <span>To Review</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'classroom:assignment_create' %}">
        
        <span>Create Assignment</span></a>
    </li>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0 round" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->